*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray: #23272E;
    --white: #D1D1D1;
    --orange:#f05123;
    --blue:#03e9f4;
    --pink: #FBC5C5;
    --green:#00ff55;
    --red: #E96479;  
}
html{
  font-family: 'Courier New', Courier, monospace;
  
}
body{
    width: 100vw;
    height: 100vh;
}
#box{
    width: 50%;
    height: 50%;
    display: flex;
    border: 2px solid var(--gray);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    background-color: ;
}
#box .change{
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(./img/Beast_Player.png);
    background-size: cover;
    cursor: not-allowed;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
#box .change.active{
    transform: translateX(100%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
#login{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}
#box input{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
}
#box label{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;

}
#box button{
    width: 4rem;
    height: 2rem;
    margin: auto;
}
#box button a{
    text-decoration: none;
}
#register{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#register h6:hover,#login h6:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--blue);
}