*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray: #23272E;
    --white: #D1D1D1;
    --orange:#f05123;
    --blue:#03e9f4;
    --blue1:#93BFCF;
    --pink: #FBC5C5;
    --green:#00ff55;
    --red: #E96479;  
}
html{
  font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
}
#box{
    width: 50%;
    height: 50%;
    display: flex;
    border: 2px solid var(--gray);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
#login{
    display: grid;
    border-right: 2px dashed var(--orange);
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    
}
#box input{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
#box button{
    width: 4rem;
    height: 2rem;
    margin: auto;
}
#box button a{
    text-decoration: none;
}
#register{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#register h6:hover,#login h6:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--blue);
}